<section class="calculator">
    <section class="centerScreen">
        <div class="screen">{{screen}}</div>
    </section>
    
    <div class="celdas" (click)="printOnScreen()"> 
        <h2 #printElement> 1 </h2> 
    </div>

    <div class="celdas" (click)="printOnScreen()"> 
        <h2 #printElement2> 2 </h2> 
    </div>

    <div class="celdas" (click)="printOnScreen()"> 
        <h2 #printElement3> 3 </h2> 
    </div>

    <div class="celdas" (click)="printOnScreen()"> 
        <h2 #printElement4> 4 </h2>
     </div>
     
    <div class="celdas" (click)="printOnScreen()"> 
        <h2 #printElement> 5 </h2> 
    </div>

    <div class="celdas" (click)="printOnScreen()"> 
        <h2 #printElement> 6 </h2> 
    </div>

    <div class="celdas" (click)="printOnScreen()"> 
        <h2 #printElement> 7 </h2>
     </div>

    <div class="celdas" (click)="printOnScreen()"> 
        <h2 #printElement> 8 </h2>
     </div>

    <div class="celdas" (click)="printOnScreen()"> 
        <h2 #printElement> 9 </h2> 
    </div>

    <div class="celdas" (click)="printOnScreen()"> 
        <h2 #printElement> 0 </h2> 
    </div>

    <div class="celdas" (click)="printOnScreen()"> 
        <h2 #printElement> , </h2> 
    </div>

    <div class="celdas" (click)="printOnScreen()"> 
        <h2 #printElement> + </h2> 
    </div>

    <div class="celdas" (click)="printOnScreen()"> 
        <h2 #printElement> - </h2> 
    </div>

    <div class="celdas" (click)="printOnScreen()"> 
        <h2 #printElement> * </h2> 
    </div>

    <div class="celdas" (click)="printOnScreen()"> 
        <h2 #printElement> / </h2> 
    </div>

    <div class="celdas" (click)="printOnScreen()"> 
        <h2 #printElement> % </h2> 
    </div>
    
    <div class="celdas" (click)="printOnScreen()"> 
        <h2 #printElement> x^2 </h2>
    </div>
    
    <div class="celdas" (click)="printOnScreen()"> 
        <h2 #printElement> 2√x </h2>
    </div>

    <div class="celdas"> 
        <h2> C </h2> 
    </div>

    <div class="celdas"> 
        <h2> <- </h2>
    </div>

    <div class="celdas"> 
        <h2> = </h2>
    </div>
</section>